table.table {
  width: 100%;
  margin-bottom: 5em;

  thead {
    background-color: #222c3c;
    color: white;

    th {
      font-weight: bold;
      padding: 0.25em 1em;
      text-align: left;
    }
  }

  tr {
    border-bottom: solid #cccccc 1px;

    td {
      padding: 0.25em 1em;
    }

    &.unread {
      background-color: #f7f7f7;

      td {
        font-weight: bold;
      }
    }
  }
}

.message-body-editor {
  #message_body {
    border: solid #cccccc 1px;
    padding: 1em;
    min-height: 500px;
    min-height: 500px;
    margin-bottom: 1em;

    text-transform: none;
  }
}

body.messages.show {
  .replyform {
    display: none;
  }
}

#message, #message_body, .message-body-editor, .message-body-display {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5em;
  text-transform: none;

  p {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5em;
  }

  blockquote {
    background: transparent;
    color: #888888;
    font-weight: normal;
    padding: 0px;
    padding-left: 20px;
    margin: 0;
  }
}

.hidden {
  display: none;
}

ul.folders {
  &:after {
    clear: both;
  }

  li {
    display: inline-block;
    float: left;
    padding: 1em;
  }
}

.tags {
  i.fa.fa-tag {
    font-size: 18px;
    color: yellowgreen;
    position: relative;
    left: 5px;
  }

  input[type="text"] {
    width: 70%;
    border: solid transparent 1px;
    font-size: 16px;
    color: #aaaaaa;
    position: relative;
    left: -20px;
    padding-left: 30px;
    transition: all 0.5s;

    &:hover, &:focus {
      border: solid #bbbbbb 1px;
      color: #888888;
    }
  }

  input[type="submit"] {
    display: none;
  }
}

.replyform {
  margin-top: 2em;

  .tags {
    input[type="text"] {
      width: 70%;
      font-size: 16px;
      position: relative;
      left: -20px;
      padding-left: 30px;
      border: solid #bbbbbb 1px;
      color: #888888;
    }
  }
}
